/* 上書き */
body{
  line-height: 1.0;
  margin: 10px;
}
main{
    margin-top: 60px;
    margin-left: 5px;
    margin-bottom: 250px;
}
.input-group > .custom-select{
    width: 200px;
}
.input-group > .form-control{
    width: 200px;
}
.modal-body li {
    margin-bottom: 5px;
    line-height: 20px;
}


/* 全体 */
.hidden{
    display: none;
}
.display-table{
    display: table;
}
.highlight{
    background-color: gainsboro;
}
.marker{
    background-color: mistyrose;
}
.form-main .dropdown-menu.show{
    width: 455px;
    font-size: small;
}
.form-prior{
    /*background-color: lemonchiffon;*/
}
.modal-dialog{
    max-width: 700px;
}

/* 個別 */
#all-wrap{
    /* display: table; */
    clear: left;
    /* margin: 20px; */
}
#basic-info-wrap{
    width: 1135px;
}
#hearing-wrap{
    display: table-cell;
    width: 700px;
    /* padding: 10px; */
}
#guide-wrap{
    display: table-cell;
    width: 500px;
}
#menu-wrap{
    display: table;
    border-collapse: separate;
    border-spacing: 4px 0;
    margin: 0 -4px
}
#general-menu{
    display: table-cell;
}
.menu-item{
    display: table-cell;
    vertical-align: top;
}
#select-sheet{
    /* vertical-align: top; */
}
#open-user-sheet{
    width: 250px;
}
/* #print-sheet, #open-sheet, #output-sheet-all{
    display: table-cell;
} */
.guide-label{
    font-weight: bold;
    /* font-size: larger; */
    margin-bottom: 10px;
}
.guide-item-wrap{
    margin-left: 10px;
    width: 400px;
    /* font-size: larger; */
    background-color: #EEEEEE9E;
    position: relative;
    padding: 10px 10px;
}
#hlp-wrap{
    /* display: table-cell; */
    width: 400px;
    padding: 0px 10px;
}
.hlp-item-wrap{
    padding: 10px 0px;
}
.guide-level0{
    width: 500px;
}
.hlp-level0{
    position: fixed;
}
#data-version{
    max-width: 50px;
}
#data-submissionid, #data-submissiontime, #data-lastmodifiedtime, #data-creator, #data-answerdate, #data-librarian, #data-classdate, #data-teacher{
    max-width: 100px;
}
#data-classname{
    width: 90px;
}
.hearing-item{
    display: table;
}
.hearing-label{
    display: table-cell;
    width: 150px;
}
.hearing-variable{
    display: table-cell;
}
.hearing-variable-slot{
    width: 200px;
}
.hlp-item{
    display: table;
}
.hlp-label{
    display: table-cell;
    width: 150px;
}
.hlp-variable{
    display: table-cell;
}
.hlp-variable-slot{
    width: 200px;
}
.hlp-level1{
    padding: 5px 0px;
    border-bottom: dotted 1px gray;
}
.level-1{
    background-color: azure;
    padding-bottom: 10px;
    padding-left: 5px;
}
.level-2{
    /* padding-left: 13px; */
}
.level-3 .hearing-each-name{
    padding-left: 12px;
}
.hearing-each-name{
    display: table-cell;
    width: 250px;
    vertical-align: top;
    padding-top: 10px;
    font-weight: bold;
}
.form-wrap{
    display: table-cell;
    width: 470px;
}
.hearing-each-wrap{
    margin-bottom: 5px;
}
.guide-description{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 20px;
}
.guide-example{
    margin: 10px 10px;
}
.example{
    margin-top: 5px;
}
.terminal{
    cursor: pointer;
}
#hearing-note{
    text-align: right;
}
.checkbox-wrap {
    margin: 3px 0px;
}
.each-example{
    margin-bottom: 10px;
}
.print-off {
  display: none;
}
.katsuyo-db{
    margin-left: 5px;
}
.example{
    line-height: 20px;
}
.hearing-item-option{
    padding-left: 10px;
}
.change-display-item{
    width: 220px;
}